<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
		<title>ToDo App</title>
    <style type="text/css">
      a {
        text-decoration: none;
      }
    </style>
	</head>
	<body>
		<h2>My TODO list</h2>

		<form action="{% url 'add' %}" method="POST" role="form">
      {% csrf_token %}
			<div class="input-group">
        {{ form.text }}
			  <span class="input-group-btn">
				  <button type="submit" class="btn btn-default" id="add-btn">ADD</button>
			  </span>
			</div>
		</form>

  	<ul class="list-group t20">
      {% for todo in todo_list %}
        {% if todo.is_complete %}
          <li class="list-group-item item-completed"><strike>{{ todo.text }}</strike></li>
        {% else %}
          <a href="{% url 'complete' todo.id %}"><li class="list-group-item">{{ todo.text }}</li></a>
        {% endif %}
      {% endfor %}
  	</ul>

    <div class="btn-group">
      <a href="{% url 'deletecompleted' %}"><button type="button" class="btn btn-warning">
        Delete completed
      </button></a>
    </div>
	</body>
</html>
